{% extends "layout.html" %}
{% block content %}
<div class="card card-custom p-4 border-danger">
    <h4 class="text-danger mb-4"><i class="fas fa-lock"></i> Change Password</h4>
    
    <form method="POST">
        <div class="mb-3">
            <label class="form-label text-white">Old Password</label>
            <input type="password" name="old_password" class="form-control" placeholder="Enter current password" required>
        </div>
        
        <div class="mb-4">
            <label class="form-label text-white">New Password</label>
            <input type="password" name="value" class="form-control" placeholder="Enter new password" required>
        </div>
        
        <button type="submit" class="btn btn-danger w-100 py-2">UPDATE PASSWORD</button>
    </form>
    
    <a href="{{ url_for('profile') }}" class="btn btn-sm btn-outline-light w-100 mt-3">Cancel</a>
</div>
{% endblock %}