{% extends "layout.html" %}
{% block content %}
<div class="card card-custom p-4">
    <h4 class="text-neon">UID LOOKUP</h4>
    <form method="GET" class="mb-4 mt-3">
        <div class="input-group">
            <input type="text" name="uid" class="form-control" placeholder="Enter In-Game UID" value="{{ searched_uid or '' }}">
            <button class="btn btn-neon">SEARCH</button>
        </div>
    </form>
    
    {% if result %}
    <div class="card bg-dark border-secondary p-3 text-center">
        <h5 class="text-info">{{ result.AccountName }}</h5>
        <div class="row mt-3">
            <div class="col-4 border-end border-secondary">
                <small class="text-muted">Level</small>
                <h6>{{ result.AccountLevel }}</h6>
            </div>
             <div class="col-4 border-end border-secondary">
                <small class="text-muted">Likes</small>
                <h6>{{ result.AccountLikes }}</h6>
            </div>
            <div class="col-4">
                <small class="text-muted">Region</small>
                <h6>{{ result.AccountRegion }}</h6>
            </div>
        </div>
    </div>
    {% elif searched_uid %}
    <div class="alert alert-danger">Player not found!</div>
    {% endif %}
</div>
{% endblock %}