{% extends "layout.html" %}
{% block content %}
<div class="card card-custom p-4">
    <h4 class="text-neon mb-3">UPLOAD PROOF</h4>
    <p class="text-white small">Send screenshot of your match result or payment.</p>
    
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label text-white">Match ID</label>
            <input type="text" name="match_id" class="form-control" placeholder="e.g. 8A3F29" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-white">Room ID</label>
            <input type="text" name="room_id" class="form-control" required>
        </div>
        <div class="mb-4">
            <label class="form-label text-white">Screenshot</label>
            <input type="file" name="proof_image" class="form-control bg-dark" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">SEND TO ADMIN</button>
    </form>
</div>
{% endblock %}